DUCKDNS_TOKEN=<token-from-duckdns>
POCKET_ID_URL=https://auth.example.duckdns.org
# Create this encryption key with this command openssl rand -base64 32 or visit https://pocket-id.org/docs/configuration/environment-variables for more info
POCKET_ID_ENCRYPTION_KEY=<paste-encryption-key-here>
HOME_DIRECTORY=/home/username
TRUSTED_PROXY_NETWORK=172.17.0.0/16 # Change this to match your proxy-auth docker network (requires running the stack once to create network)
PROXY_DOMAIN=.example.duckdns.org
REDIS_URL=redis://oauth2-proxy-redis:6379
OAUTH2_CLIENT_ID=<pocket-id-proxy-client-id>
OAUTH2_CLIENT_SECRET=<pocket-id-proxy-client-secret>
# Create this cookie secret with this command openssl rand -base64 32 | tr -- '+/' '-_' or visit https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/ for more info
OAUTH2_COOKIE_SECRET=<paste-cookie-secret-here>